/* WhatsApp botón flotante */
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0dc143;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-btn img {
  width: 60px;
  height: 60px;
}