# name: Deploy Infra + Frontend

# on:
#   push:
#     branches:
#       - main

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4

#       - name: Setup OpenTofu
#         uses: opentofu/setup-opentofu@v1

#       - name: Tofu Init
#         working-directory: infra
#         run: tofu init

#       - name: Tofu Apply
#         working-directory: infra
#         run: tofu apply -auto-approve -var="bucket_name=mi-react-app-bucket-123"
#         env:
#           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

#       - name: Build React
#         run: |
#           npm install
#           npm run build

#       - name: Upload to S3
#         run: aws s3 sync build/ s3://mi-react-app-bucket-123
#         env:
#           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}